.chat-main
  .chat-main__gruop-info
    %ul.info-menu
      %li.info-menu__group-info
        %p.group-info--name
          = @group.name
        %ul.group-info--member
          - @group.users.each do |user|
            %li.group-info--member__list= user.name
      %li.info-menu__group-info
        = link_to edit_group_path(@group.id), class: "group-info--edit" do
          Edit
          
  .chat-main__message-list
    .messages
      = render @messages

  .chat-main__message-form
    .new_message
      = form_for [@group, @message] do |f|  
        .input-box
          = f.text_field :text, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'


    