.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.top-items__icons__list
          = link_to  new_group_path, class: "icon-btn edit" do
            %i.far.fa-edit
        %li.top-items__icons__list 
          = link_to edit_user_path(current_user), class: "icon-btn cog" do
            %i.fas.fa-cog
  .side-bar__group-list
    - current_user.groups.each do |group|
      %ul.group-menu
        %li.group-menu__list
          %p.group-menu__list__group-name
            = link_to group_messages_path(group) do
              = group.name
          %p.group-menu__list__group-message
            = group.show_last_message